{% extends "base.html" %}

{% block title %}Registration confirmation{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 style="width: 650px;margin-left: 20px;text-align: center;">Предварительный просмотр скриншота</h3>
<!--                <p style="text-align: center;"><a style="margin-left: 20px;" href="{% url 'input:send_mail' %}" class="btn btn-lg btn-warning">Отправить на почту</a>-->
<!--                    <a style="margin-left: 20px;" href="{% url 'input:download_file' %}" class="btn btn-lg btn-warning">Скачать</a></p>-->
<!--                <img src="static 'screenshot/.png'" alt="альтернативный текст">-->
            <iframe
                src="http://docs.google.com/gview?url=http://45.84.226.60:8000/static/{{ name_of_photo }}.png&embedded=true"
                style="width:650px; height:750px;"
                ></iframe>

        </div>
    </div>
</div>
{% endblock %}
